<div  fxLayout="column" fxLayoutAlign="start center" class="background-color-fond" style="height: 100%">  
  <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
    <h1 class="title-addTurnkey">Add a Turnkey Configuration</h1>
  </div>  
  <md-input-container>
    <input mdInput placeholder="Turnkey Configuration Name" class="input-name" [(ngModel)]="info">
  </md-input-container>
  <div fxFlex="70" class="example-form" style="margin-top: 20px">
    <md-list class="listShadow">
      <div class="headerMe">
        <span class="title-liste">Choose your distribution :</span>
      </div>
      <md-list-item *ngFor="let folder of catalogs" class="border-list cursorPointer" (click)="checkboxFolders(folder.name, $event)">
        <md-icon md-list-avatar>important_devices</md-icon>
        <h4 md-line>{{folder.name}}</h4>
        <p md-line> {{folder.info}} </p>
        <md-checkbox class="example-margin" [(ngModel)]="folder.checked" (click)="stopPropagationFolders(folder.name, $event, folder.checked)"></md-checkbox>
      </md-list-item>
    </md-list>
    <md-list class="listShadow marginTop">
      <div class="headerMe">
        <span class="title-liste">Choose your applications :</span>
      </div>
      <md-list-item *ngFor="let folder of applications" class="border-list cursorPointer" (click)="checkboxApplications(folder.name, $event)">
        <md-icon md-list-avatar>important_devices</md-icon>
        <h4 md-line>{{folder.name}}</h4>
        <p md-line> {{folder.info}} </p>
        <md-checkbox class="example-margin" [(ngModel)]="folder.checked" (click)="stopPropagation($event)"></md-checkbox>
      </md-list-item>
    </md-list>
    <div class="marginTop marginBottom" fxLayout="row" fxLayoutAlign="end none">
      <button md-raised-button color="primary" (click)="saveTurnkey()">Add Turnkey Configuration</button>
    </div>
  </div>
</div>