<!--<md-toolbar color="primary">
  <span>Payment</span>
  <span class="example-fill-remaining-space"></span>
  <md-icon md-dialog-close (click)="closeDialog()" class="icon">clear</md-icon>
</md-toolbar>
<md-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <form fxLayout="column" class="width90" fxLayoutAlign="center center" (submit)="getToken($event)" [formGroup]="formGroupCard">
    <span class="error margin-text-error">{{message}}</span>
    <md-input-container class="example-full-width margin-input-container">
      <input mdInput placeholder="Card Number" formControlName="cardNumber" name="card-number" type="text" size="20">
    </md-input-container>
    <md-input-container class="example-full-width margin-input-container">
      <input mdInput placeholder="Expiration Month" formControlName="expiryMonth" name="expiryMonth" type="text" size="2">
    </md-input-container>
    <md-input-container class="example-full-width margin-input-container">
      <input mdInput placeholder="Expiration Year" formControlName="expiryYear" name="expiryYear" type="text" size="2">
    </md-input-container>
    <md-input-container class="example-full-width margin-input-container">
      <input mdInput placeholder="CVC" formControlName="cvc" name="cvc" type="text" size="4">
    </md-input-container>
    <md-dialog-actions>
      <button type="submit" md-raised-button>Submit Payment</button>
    </md-dialog-actions>
  </form>
</md-dialog-content>-->
