<md-sidenav>
  <ul class="ul_sidenav">
    <li>
      <a class="a_sidenav" routerLink="/admin">Dashboard</a>
    </li>
    <li>
      <a class="a_sidenav" routerLink="/admin/manageOS">Manage OS</a>
    </li>
    <li>
      <a class="a_sidenav" routerLink="/admin/manageTurnkey">Manage Applications</a>
    </li>
    <li>
      <a class="a_sidenav" routerLink="/admin/manageTurnkey">Manage Turnkey Configuration</a>
    </li>
    <li>
      <a class="a_sidenav" routerLink="/admin/listUser">User List</a>
    </li>
  </ul>
</md-sidenav>