<div  fxLayout="column" fxLayoutAlign="start center" class="background-color-fond" style="height: 100%">
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="title-manageTurnkey">Manage the Turnkey Configuration catalog</h1>
    </div>
    <md-list class="listShadow">
      <div class="headerMe">
        <span class="title-liste">Turnkey Configuration catalog :</span>
      </div>
      <md-list-item *ngFor="let turnkey of listTurnkey" class="border-list cursorPointer">
        <md-icon md-list-avatar>important_devices</md-icon>
        <h4 md-line>{{turnkey.name}}</h4>
        <p md-line> {{turnkey.info}} </p> 
        <button md-mini-fab color="primary" (click)="openDialog(turnkey._id)"><md-icon>delete</md-icon></button>
      </md-list-item>
    </md-list>
</div>