<div  fxLayout="column" fxLayoutAlign="start center" class="background-color-fond" style="height: 100%">
    <button routerLink="/admin/addTurnkey" color="primary" mdTooltip="Add a turnkey configuration !" mdTooltipPosition="before" md-mini-fab class="example-fab" >
      <md-icon>add</md-icon>
    </button>
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="title-manageTurnkey">Manage the Turnkey Configuration catalog</h1>
    </div>
    <md-list class="listShadow">
      <div class="headerMe">
        <span class="title-liste">Turnkey Configuration catalog :</span>
      </div>
      <md-list-item *ngFor="let turnkey of listTurnkey" class="border-list cursorPointer">
        <md-icon md-list-avatar>important_devices</md-icon>
        <h1 md-line style="font-size: 20px">{{turnkey.info}}</h1>
        <h4 md-line style="margin-top: 10px">Distribution : </h4> 
        <p md-line style="margin-left:10px">{{turnkey.distribution}} </p> 
        <h4 md-line style="margin-top: 10px">Applications : </h4> 
        <p md-line *ngFor="let app of turnkey.application" style="margin-left:10px"> {{app}} </p> 
        <button md-mini-fab color="primary" (click)="openDialog(turnkey._id)"><md-icon>delete</md-icon></button>
      </md-list-item>
    </md-list>
</div>