<div fxLayout="row" fxLayoutAlign="center start" class="background-color-fond container-child">
  <div fxFlex="80" class="flex-container" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="title-card">Add a VM</h1>
    </div>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          Particular configuration
        </template>
        <app-add-vm-particular [catalogs]="catalogs" [applications]="applications"></app-add-vm-particular>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          Turnkey configuration
        </template>
        <app-add-vm-turnkey [listTurnkey]="listTurnkey"></app-add-vm-turnkey>
      </md-tab>
    </md-tab-group>
  </div>
</div>
