<div  fxLayout="row" fxLayoutAlign="center start" class="background-color-fond container-child">
  
  <div fxFlex="80" fxFlex.xs="95" class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <button routerLink="/addVm" color="primary" mdTooltip="Ajouter une VM!" mdTooltipPosition="before" md-mini-fab class="example-fab" >
      <md-icon>add</md-icon>
    </button>
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="title-card">Vos VM</h1>
    </div>
    <div class="flex-item margin-between" *ngFor="let VM of myVM">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image">
            <div *ngIf="VM.name === 'Ubuntu'"><img src="../../assets/ubuntu.png"></div>
            <div *ngIf="VM.name === 'Debian'"><img src="../../assets/debian.png"></div>
          </div>
          <md-card-title>{{VM.OS}}</md-card-title>
          <md-card-subtitle>{{VM.name}}</md-card-subtitle>        
          <md-card-actions>
            <button md-raised-button color="primary" routerLink="/accesVm/1" class="bouton_info_vm">+ D'INFOS</button>
          </md-card-actions>
        </md-card-header>
        <md-card-content>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item" fxFlex="30" fxLayout="column" fxLayoutAlign="center center">beuteu1</div>
            <div class="flex-item" fxFlex="30" fxLayout="column" fxLayoutAlign="center center">beuteu2</div>
            <div class="flex-item" fxFlex="30" fxLayout="column" fxLayoutAlign="center center">beuteu3</div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div *ngIf="load === false && myVM.length === 0"  class="flex-item margin-between">
      Vous avez pas encore de VM
    </div>
  </div>
</div>
