.margin-between {
  margin: 12px 0;
}

.title-card {
  font-weight: 300;
  font-size: 38px;
  text-align: center;
}

.example-fab {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 2;
}

md-card-title {
  font-weight: 300!important;
  font-size: 40px!important;
  margin-left: 20px;
}

md-card-header{
  height: inherit!important;
}

md-card-subtitle {
  font-weight: 200!important;
  font-size: 30px!important;
  margin-left: 30px;
}

.bouton_info_vm {
  position: absolute;
  right: 50px;
  @media only screen and (max-width: 600px) {
	  position: relative;
  }
}

.info_vm {
  font-weight: 100!important;
  font-size: 20px!important;
}

.detail_info_vm {
  font-weight: 400!important;
  margin-left: 5px;
}