.margin-between {
  margin: 12px 0;
}

.title-card {
  font-weight: 300;
  font-size: 38px;
  text-align: center;
}

.example-fab {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 2;
}




