<div  fxLayout="row" fxLayoutAlign="center start" class="background-color-fond container-child">
  
  <div fxFlex="80" fxFlex.xs="95" class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <button routerLink="/addVm" color="primary" mdTooltip="Ajouter une VM!" mdTooltipPosition="before" md-mini-fab class="example-fab" >
      <md-icon>add</md-icon>
    </button>
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="title-card">Your VM</h1>
    </div>
    <div class="flex-item margin-between" *ngFor="let VM of myVM" style="width: 100%">
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image">
            <div *ngIf="VM.name === 'Ubuntu'"><img src="../../assets/ubuntu.png"></div>
            <div *ngIf="VM.name === 'Debian'"><img src="../../assets/debian.png"></div>
          </div>
          <md-card-title>{{VM.OS}}</md-card-title>
          <md-card-subtitle>{{VM.name}}</md-card-subtitle>        
          <md-card-actions>
            <button md-raised-button color="primary" routerLink="/accesVm/{{VM._id}}" class="bouton_info_vm">+ D'INFOS</button>
          </md-card-actions>
        </md-card-header>
        <md-card-content>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">@IP : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{VM.ip}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="VM.ip === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Port : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{VM.port}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="VM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Status : </div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="VM.info === 'Off'" style="color: red">Off</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="VM.info === 'On'" style="color: limegreen">On</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="VM.info === 'Loading'" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div *ngIf="load === false && myVM.length === 0"  class="flex-item margin-between">
      Vous n'avez pas encore de VM
    </div>
  </div>
</div>
