.example-fill-remaining-space {
  flex: 1 1 auto;
}
.button-navbar{
  height: 100%;
}
.pointer{
    cursor: pointer;
}

md-toolbar {
  position: relative;
  z-index: 10;
}

.logo {
  height: 120px;
  margin-top: 55px;
  @media only screen and (max-width: 600px) {
    height: 90px;
    margin-top: 30px;
  }
}