.example-fill-remaining-space {
  flex: 1 1 auto;
}
.button-navbar{
  height: 100%;
}
.pointer{
    cursor: pointer;
}

md-toolbar {
  position: relative;
  z-index: 10;
}

.logo {
  height: 120px;
  margin-top: 55px;
  @media only screen and (max-width: 600px) {
    height: 90px;
    margin-top: 30px;
  }
}

md-toolbar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    z-index: 3;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}