<div fxLayout="row" fxLayoutAlign="center start" class="background-color-fond container-child">
  <div fxFlex="80" fxFlex.xs="95" class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="title-card">VM Informations</h1>
    </div>
    <md-spinner color="primary" mode="indeterminate" *ngIf="!myVM" style="margin-top:10%"></md-spinner>
    <div class="flex-item margin-between" style="width: 100%">
      <md-card class="example-card" *ngIf="myVM">
        <md-card-header>
          <div md-card-avatar class="example-header-image">
            <div *ngIf="myVM.name.toLowerCase().includes('ubuntu')"><img src="../../assets/ubuntu.png"></div>
            <div *ngIf="myVM.name.toLowerCase().includes('debian')"><img src="../../assets/debian.png"></div>
          </div>
          <md-card-title>{{myVM.OS}}</md-card-title>
          <md-card-subtitle>{{myVM.name}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="flex-container first_flex" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Add date : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.ad_date  | date }}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">@IP : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.ip}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.ip === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Status : </div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'Off'" style="color: red">Off</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'On'" style="color: green">On</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'Loading'" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">SSH Port : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.port}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">HTTP Port : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.portHttp}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">HTTPS Port : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.portHttps}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">CPU: </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.cpu}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Memory: </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.memory.usage}} / {{myVM.feedback.memory.total}} ({{myVM.feedback.memory.percentage}}%)</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Block I/O: </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.block.usage}} / {{myVM.feedback.block.total}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Network I/O: </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.network.usage}} / {{myVM.feedback.network.total}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <md-divider style ="margin-top: 20px"></md-divider>
          <div class="flex-item info_vm" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <div class="flex-item" fxLayout="row"fxLayoutAlign="center center" style="width:100%; margin-top: 15px">Originally installed application : </div>
            <div class="flex-item detail_info_vm" fxLayout="row" *ngFor="let application of myVM.application">{{application}}</div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" style="width:100%">
            <md-spinner class="flex-item circle" fxFlex="8" color="primary" mode="indeterminate" *ngIf="load_circle"></md-spinner>
            <button md-mini-fab color="primary" (click)="startVM(myVM._id)" [disabled]="stop || load_circle"><md-icon>play_arrow</md-icon></button>
            <div class="flex-item" fxFlex="1" fxLayout="column"></div>
            <button md-mini-fab color="primary" (click)="stopVM(myVM._id)" [disabled]="start || load_circle"><md-icon>pause</md-icon></button>
            <div class="flex-item" fxFlex="1" fxLayout="column"></div>  
            <button md-mini-fab color="primary" (click)="openDialog(myVM._id)"><md-icon>delete</md-icon></button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
