<div fxLayout="row" fxLayoutAlign="center start" class="background-color-fond container-child">
  <div fxFlex="80" fxFlex.xs="95" class="flex-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="flex-item margin-between width100" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="title-card">VM Informations</h1>
    </div>
    <md-spinner color="primary" mode="indeterminate" *ngIf="!myVM" style="margin-top:10%"></md-spinner>
    <div class="flex-item margin-between" style="width: 100%">
      <md-card class="example-card" *ngIf="myVM">
        <md-card-header>
          <div md-card-avatar class="example-header-image">
            <div *ngIf="myVM.name === 'Ubuntu'"><img src="../../assets/ubuntu.png"></div>
            <div *ngIf="myVM.name === 'Debian'"><img src="../../assets/debian.png"></div>
          </div>
          <md-card-title>{{myVM.OS}}</md-card-title>
          <md-card-subtitle>{{myVM.name}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="width:100%">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">@IP : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.ip}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.ip === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Port : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.port}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Status : </div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'Off'" style="color: red">Off</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'On'" style="color: green">On</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.info === 'Loading'" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" style="width:100%; margin-top: 30px">
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">CPU : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.cpu}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Memory : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.memory.usage}} / {{myVM.feedback.memory.total}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
            <div class="flex-item info_vm" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
              <div class="flex-item" fxLayout="column">Block I/O : </div>
              <div class="flex-item detail_info_vm" fxLayout="column">{{myVM.feedback.block.usage}} / {{myVM.feedback.block.total}}</div>
              <div class="flex-item detail_info_vm" fxLayout="column" *ngIf="myVM.port === ''" style="color: darkorange">Deployment in progress</div>
            </div>
          </div>
          <div class="flex-container" fxLayout="row" fxLayoutAlign="end center" style="width:100%">
            <md-spinner class="flex-item circle" fxFlex="8" color="primary" mode="indeterminate" *ngIf="load_circle"></md-spinner>
            <button md-raised-button class="flex-item" fxFlex="12" fxLayout="column" color="primary" (click)="startVM(myVM._id)" class="button_vm" [disabled]="stop || load_circle"><i class="material-icons icon_svg">play_arrow</i>  Start VM {{stop || load_circle}}</button>
            <div class="flex-item" fxFlex="1" fxLayout="column"></div>
            <button md-raised-button class="flex-item" fxFlex="12" fxLayout="column" color="primary" (click)="stopVM(myVM._id)" class="button_vm" [disabled]="start || load_circle"><i class="material-icons icon_svg">pause</i>  Stop VM {{start || load_circle}}</button>
            <div class="flex-item" fxFlex="1" fxLayout="column"></div>  
            <button md-raised-button class="flex-item" fxFlex="12" fxLayout="column" color="primary" (click)="removeVM(myVM._id)" class="button_vm"><i class="material-icons icon_svg">clear</i>  Remove VM</button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
