/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/all-theme';
$my-primary: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #673ab7,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #311b92,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($my-primary);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

body {
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

md-dialog-container {
  padding-top: 0px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

/* class for width*/
.width90 {
  width: 90%;
}

.width100 {
  width: 100%;
}

md-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.md-input-placeholder.md-float.md-empty.md-warn, .md-input-placeholder.md-float.md-warn {
  color: red!important;
}

.error {
  .md-input-underline {
    border-color: red;
  }
  color: red!important;
}
