/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '~@angular/material/core/theming/all-theme';
$my-primary: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #1375bc,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #311b92,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($my-primary);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

body {
  margin: 0px;
  font-family: 'Source Sans Pro', Roboto, "Helvetica Neue", sans-serif;
}

md-card{
  font-family: 'Source Sans Pro', Roboto, "Helvetica Neue", sans-serif !important;
}

md-dialog-container {
  padding: 0px!important;
  overflow-y:hidden!important;
}
md-dialog-content{
    margin:0!important;
    padding: 0!important;
}

.dialogButton{
  margin-bottom: 8px;
}

/* class for width*/
.width90 {
  width: 90%;
}

.width100 {
  width: 100%;
}

md-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.md-input-placeholder.md-float.md-empty.md-warn,
.md-input-placeholder.md-float.md-warn {
  color: red!important;
}

.error {
  .md-input-underline {
    border-color: red;
  }
  color: red!important;
}

.md-display-4 {
  font-size: 56px;
  font-weight: 300;
  letter-spacing: -.01em;
  line-height: 112px;
  background: #F5F5F5;
  @media only screen and (max-width: 1500px) {
    font-size: 45px;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 34px;
  }
  @media only screen and (max-width: 900px) {
    font-size: 24px;
  }
}

.md-display-1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  background: #F5F5F5;
  @media only screen and (max-width: 1500px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 900px) {
    font-size: 12px;
  }
}

.fixed-ratio-resize { /* basic responsive img */
  margin-top: 30px;
	max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
  @media only screen and (max-width: 600px) {
    margin-top: 10px;
	  max-width: 50%;
  }
}

.fond {
  height: 700px;
  background-image:  url("assets/La-route2.jpg");
  // background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 300;
  font-size: 72px;
  margin-left: 40px;
  @media only screen and (max-width: 1700px) {
    font-size: 64px;
  }
  @media only screen and (max-width: 1500px) {
    font-size: 50px;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 42px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 38px;
  }
  @media only screen and (max-width: 600px) {
    text-align: center;
    color: white;
    margin-left: 0px;
  }
}

.subtitle {
  font-weight: 200;
  font-size: 48px;
  margin-left: 40px;
  @media only screen and (max-width: 1700px) {
    font-size: 42px;
  }
  @media only screen and (max-width: 1500px) {
    font-size: 38px;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 34px;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 26px;
  }
  @media only screen and (max-width: 600px) {
    text-align: center;
    color: white;
    margin-left: 0px;
  }
}
.button-read-more {
  margin-left: 60px;
  @media only screen and (max-width: 600px) {
    text-align: center;
    margin-left: 0px;
  }
}

.title-card {
  font-weight: 300;
  font-size: 38px;
  text-align: center;
}

.text-card {
  font-weight: 200;
  font-size: 26px;
  text-align: center;
}

.background-color-fond {
  background-color: #f5f5f5;
}